*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

.header, main, footer {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: relative;
    z-index: 1;
    background: rgb(0,0,0,0);
}

h1 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #ffffff;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
}

a:hover {
    cursor: pointer;
    color: #bdae82;
}

.bg_dark {
    color: #bdae82;
    background-color: #000000;
    transition: .5s;
}

.bg_gold {
    color: #000000;
    background-color: #bdae82;
    transition: .5s;
}

.btn:hover {
    color: #ffffff;
    cursor: pointer;
}

/** header **/

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo a {
    display: block;
    margin: 20px;
    height: 50px;
    width: 50px;
    background-image: url(assets/svg/logo_unvisited.svg);
    background-image: no-repeat;
    transition: .5s;
}

.logo a:hover {
    background-image: url(assets/svg/logo_hover.svg);
    cursor: pointer;
}

.navigation {
    margin-left: auto;
}

.menu_list {
    display: flex;
}

.list_item {
    list-style-type: none;
    margin-right: 30px;
}

.list_item a {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}

.list_item a:hover {
    color: #bdae82;
}

.lang {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
}

.lang a {
    text-decoration: none;
    transition: .5s;
}

.lang a:hover {
    color: #bdae82;
}

.lang .active {
    margin-right: 8px;
    color: #bdae82;
}

.lang .rus {
    margin-left: 8px;
    color: #ffffff;
}

/** end header **/

/** hero **/

.hero {
    position: relative;
    top: -90px;
    background-image: url(assets/img/bg.jpg);
    height: 910px;
}

.hero .wrap {
    padding-top: 250px;
    margin-left: 80px;
}

.hero_text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    width: 470px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.btn {
    height: 55px;
    width: 220px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}

/** end hero **/