*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

.header, main, footer {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
}



a:hover {
    cursor: pointer;
    color: #bdae82;
}

.bg_dark {
    color: #bdae82;
}

.bg_gold {
    color: #000000;
}

button:hover {
    color: #ffffff;
}

/** header **/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    width: 50px;
    background-image: url(assets/svg/logo_unvisited.svg);
    background-image: no-repeat;
}

.navigation {
    margin-left: auto;
}

.lang {
}

.menu_list {
    display: flex;
}

/** end header **/